[submodule "web/vendor/ia_fonts"]
	path = web/vendor/ia_fonts
	url = https://github.com/iaolo/iA-Fonts
[submodule "web/vendor/nunito_fonts"]
	path = web/vendor/nunito_fonts
	url = https://github.com/googlefonts/nunito
